* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f2f2f2;
}
footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #113;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .kontainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;

}
footer .kontainer .sec{
  margin-right: 30px;
}
footer .kontainer .sec.aboutus{
  width: 40%;
}
footer .kontainer  h1{
  position: relative;
  color: #f2f2f2;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .kontainer .sec.aboutus h1 :before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  
}
footer .kontainer .sec.aboutus p{
  color: #999;
}
.quickLinks{
  position: relative;
  width: 25%;
}
.quickLinks ul li{
  list-style: none;
}
.quickLinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom:10px;
  display:inline-block;
}
.quickLinks ul li a:hover{
  color: #000;
}
.contact{
  width: calc(35% - 60px);
  margin-right: 0 !important;
}
.contact .info li{
  display: flex;
  margin-bottom: 16px;

}
.contact .info li span:nth-child(1){
  color: #999;
  font-size: 20px;
  margin-right: 10px;
}
.contact .info li span{

  color: #999;
}
.contact .info li  a{
  color: #999;
}
.contact .info li  a:hover{
  color: #000;
}
.copyrightText{
  width:100%;
  background: #111;
  padding: 8px 100px;
  text-align: center;
  color: #999;


}
.body{
  display: inline-flex;
  height: 100%;
  text-align: center;
}
.sci{

 display: inline-flex;
 list-style: none;

}

.sci li{
  position: relative;
  height: 35px;
  width: 35px;
  border:2px solid black;
  margin: 0 15px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;

}
.sci li:hover{ 
  transition: background 0.001s ease 0.3s;
  background: black;
}
.sci li:before,
.sci li:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  border-radius: 15px;
  border:0px solid transparent;
  transition:all 0.25 ease;
}
.sci li:hover:before{
border-width:35px;
border-top-color: black;
transition: border-top-width 0.3s ease, border-top-color 0.3s ease; 
}
.sci li:hover:after{
border-width:35px;
border-left-color: black;
transition: border-left-width 0.3s ease, border-left-color 0.3s ease;
}
.sci li a {
  line-height: 35px;
  font-size: 15px;
  color: black;
  z-index: 1;
  position: relative;
  transition: all 0.25s ease;
}
.sci li:hover a{
  color: #fff;

}
/* Headerblackg Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */

/* Clear floats after the columns */
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
.konten{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;

}
.container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;

  
  /*koding tambahan */

}
.container .card{
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 50px 10px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 102px rgb(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover{
  height: 520px;
}
.container .card .imgBx{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 5px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);

}
.container .card .imgBx img{
  max-width: 100%;
  border-radius: 2px;
  }
  .container .card .content{
    position: relative;
    margin-top:  -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  .container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
  }
/*ppdbcss*/
